@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-menu{
    position: absolute; 
    height: 100%; 
    border: 10px solid white; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: black; 
    flex-direction: column; 
    top: 10px;
    z-index: 999; 
    transition: all 5s ease-in-out;

} 
 
.img_container{
    z-index: -1;
}
 
body, html, #root { 
    margin: 0; 
    font-family: "Poppins", Sans-serif;
} 
.app-layout { 
    display: flex;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.8TuhsWiakA20C9kEmOgLkQHaEK&pid=Api&P=0');
    flex-direction: column;
    min-height: 100vh;  
    padding-bottom: 10px; 
    background-repeat: no-repeat;
    background-size:cover; 

}
.header { 

    flex: 0 0 auto;
    background: transparent !important; 
}
.main-content {
  flex: 1 0 auto;
  overflow: hidden;
}
  
.footer {
 
  flex: 0 0 auto;
}
 
 /* Header Section */  
.header_container img{
   max-width: 100%;
   height: auto; 

} 

.header_container .user_icon{
   width: 30px; 
}

.form_container{ 
    opacity: 0.9; 
} 
 
.login_button{
    color:#e50914 !important
} 
 
.hover_white{ 
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}
.hover_white:hover{ 
  text-decoration: underline;
}

#floatingInput::placeholder{
color: #a9aeb3;
} 

.form-floating label{
    color: #a9aeb3 !important; 
    border: none; 
    background: transparent !important;
}


#rememberMe{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}

#rememberMe:checked::after{
    color: black;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 18px; 
    background-color: white !important;
}


/* Log Out */ 

.log_out_container{
    height: max-content; 
    min-height: 100%;
}


.container_scroll {
    overflow: scroll;
  }
  
.container_scroll::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
} 


  
  /* For other browsers like Firefox */
.container_scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.opacity-90{
    opacity: 0.96;
}

.bottom-95{
    bottom: 95% !important;
} 
.top-35{
    top: 30% !important;
} 
.w-35{
    width: 35% !important;
} 
.w-18{
    width: 18vw;
}

/* movie Detail Container */ 

.movie_detail_container{
    background-repeat: no-repeat !important; 
    /* background-size: cover; */
} 

.cursor_pointer{
    cursor: pointer !important;
}


/* modal Style */

.modal-header .btn-close{
    background-color: white;
} 


.hover-effect:hover{
    transition: all 0.3s ease-in-out; 
    color: silver !important;
}


.icon-hover {
  transition: transform 0.3s ease;
}
.icon-hover:hover {
  transform: scale(1.1);
}
